body{
	background-color: blue;
}
h1{
	color: orange;
	background-color: red;
}
h2{
	color: white;
	background-color: red;
}
#div1{/**vhamando id*/
	/*atribuir id numa tag somente se nao repetir ela*/
	background-color: green;
}
#div1 > h2{
	/*o cinal de > só se usa se o "h2" estiver diretamente na div 
	(noa se usa se ele tuver dentro de uma div dentro dessa div)*/
	color: blue;
	background-color: transparent;
}
.div2{/*chamando classe*/
	background-color: yellow;
}