*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
}
.header{
	width: 100%;
	min-width: 1280px;/*largura minima(muito utilizado em sites responsivos)*/
	height: 200px;
	background-color: gray;
}
.article{
	margin: 0 auto;
	width: 1280px;
	height: 10%;
	min-height: 20%;/*tem prioridade maior q height*/
	max-height: 50%;/*prevalece o q tiver mais perto de height*/
	background-color: red;
}