*{
	margin: 0;
	padding: 0;
}
html, body{
	min-height: 100%;
}
.box, .box2{
	background-color: gray;
	margin: 0 auto;
	width: 300px;
	/*display: none; nao calcula o tamanho do box(ele fica invisivel)*/
	/*
	overflow-x: hidden;/
	overflow-y: hidden;
	*/
}
.box{
	overflow: scroll;/*overflow mesmo q n precise*/
}
.box2{
	background-color: red;
	margin-top: 10px; 
	display: block;
	height: 200px;
	overflow: auto;
}